@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: hsl(0, 0%, 95%);
}

.load {
  width: 100%;
  text-align: center;
}

.loading-gif {
  margin: 4rem 0;
}

header {
  width: 100%;
  height: 275px;
  position: relative;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

header:before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  opacity: 0.8;
  z-index: 9;
  position: absolute;
}

/* SEARCH SECTION */

#search {
  margin-top: -7.5rem;
  z-index: 999;
  position: relative;
  margin-bottom: 3rem;
}

#search h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.form-wrapper {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

.search-form {
  background: #ffffff;
  padding: 0.2rem;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  display: flex;
}

.search-form input {
  width: 400px;
  padding: 0 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
}

.btn {
  width: 130px;
  height: 2.7rem;
  border: none;
  border-radius: 5px;
  background: hsl(192, 100%, 61%);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.btn:hover {
  background: hsl(280, 87%, 65%);
}

.btn-active {
  background: hsl(280, 87%, 65%);
}

@media screen and (max-width: 550px) {
  header {
    height: 175px;
  }

  #search {
    margin-top: -6rem;
  }

  #search h1 {
    font-size: 2rem;
  }

  .form-wrapper {
    width: 90%;
  }

  .btn {
    font-size: 0.9rem;
  }
}

.meals {
  width: 100%;
  padding: 4rem 0;
}

.meals-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 3rem;
}

@media screen and (max-width: 1250px) {
  .meals-wrapper {
    width: 90%;
  }
}

.meal {
  background: #ffffff;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 5px;
}

.meal-image {
  width: 100%;
  height: 250px;
}

.meal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.meal-info {
  padding: 2rem 1rem;
}

.meal-info h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.meal-info p {
  margin-bottom: 0.3rem;
  color: #2b2b2b;
}

.instructions {
  margin-bottom: 1rem !important;
}

.meal-info p span {
  font-weight: 600;
}

.meal-link a {
  color: #2b2b2b;
  font-weight: 600;
}

.meal-link a:hover {
  text-decoration: none;
}

.no-data {
  margin: 5rem auto;
}

.category {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1150px) {
  .category {
    width: 90%;
  }
}

.btn-category {
  margin: 2px;
}
